{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load avatar_tags %}


{% block content %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "03250919-9676-4ddd-859b-f1b015e931ed", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
   <div class="row">
       <div class="col-sm-9">
           <div class="row">
               <div class="col-md-12">
               <h1>{{blog.subject}}
    
                {% if blog.owner == request.user %}
                 <small>
                     
                 <a href="#" data-toggle="modal" data-target="#blogModal"><i class="fa fa-pencil"></i></a>
                 </small>
                 {% endif %}   
                                   
               </h1>
               </div>
           </div>
           <hr>    
            
              <h3><span class="label label-success">{{blog.tags}}</span> {{blog.createtime|date:'Y-m-d H:i'}}  {{blog.owner }}</h3>
              <br><br>
              <div class="blog_content">{{blog.content|safe}}</div>
              <div class="pull-right">
                <span class='st_facebook_large' displayText='Facebook'></span>
                <span class='st_twitter_large' displayText='Tweet'></span>
                <span class='st_linkedin_large' displayText='LinkedIn'></span>
                <span class='st_googleplus_large' displayText='Google +'></span>
                <span class='st_pinterest_large' displayText='Pinterest'></span>                   
              </div>
            <!-- comments -->
            {% if comments %}
                {% for comment in comments %}  
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <hr>
                    </div>
                </div>  
                <div class="row">
                    <div class="col-sm-1 col-sm-offset-1">
                        {{comment.owner}}
                    </div>    
                    <div class="col-sm-10">
                                <p>{{comment.comment|safe}}</p>
                                <br>
                                <div class="pull-right">
                                    {{comment.create_time|date:'Y-m-d'}}     
                                </div>    
                     

                    </div>    
                  </div>

                            {% endfor %}
                        {% endif %} 
                        
                        
                        {% if request.user.is_authenticated %}
                        <div><br>
                        <hr>    
                        <span id="span_a_suggest"><a id="a_suggest" href="#"><i class="fa fa-commenting"></i> Comment</a></span>
                        <div class="comment_form">
                          <form method="POST" action="{% url 'blog_comment_new'  blog.id %}">
                            {% csrf_token %}
                            
                            {{ comment_form|crispy }}
                            <input class="btn btn-success pull-right" type="submit" name="Submit" value="Save"/>
                          </form>      
                        </div>
                        </div>
                        {% else%}
                            <div>
                                <a href="{% url 'auth_login' %}">Login </a>to comment
                            </div>
                        {% endif %}<!-- end of user authentication -->                  
                </div>      

       </div>
       <!-- button -->
       
       <div class="col-sm-3">
           <div class="row">
         <!-- Button trigger modal -->
         <br>


         <br>
         
         <!-- blog Modal -->
         <div class="modal fade" id="blogModal"  role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="myModalLabel">Edit</h4>
               </div>
               <div class="modal-body">
                  <form method="POST" action="{% url 'blog_edit' id=blog.id %}">
                    {% csrf_token %}
                    {{ blog_form|crispy }}
                    <input class="btn btn-success" type="submit" name="Submit" value="Save"/>
                  </form>
               </div>
             </div>
           </div>
         </div>          

         </div>
        </div>  
        </div>    
       </div>       
    
    </div>   
{% endblock %}

{% block script%}
{{ block.super }}
<script>

$(document).ready(function(){
    $("#a_suggest").click(function(e){
        e.preventDefault();
        $(".comment_form").show();
        $("#span_a_suggest").hide();
    });
    $("img").addClass("img-responsive");

});

</script>  
{% endblock %}