{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load avatar_tags %}


{% block content %}
   <div class="row">
       <div class="col-sm-9">
           <div class="row">
               <div class="col-md-12">
               <h1>{{blog.subject}}
    
                {% if blog.owner == request.user %}
                 <small>
                     
                 <a href="#" data-toggle="modal" data-target="#blogModal"><i class="fa fa-pencil"></i></a>
                 </small>
                 {% endif %}   
                                   
               </h1>
               </div>
           </div>
           <hr>    
            
              <h3><span class="label label-success">{{blog.tags}}</span> {{blog.createtime|date:'Y-m-d H:i'}}  {{blog.owner }}</h3>
              <br><br>
              <div class="blog_content">{{blog.content|safe}}
              
              </div>

            <!-- comments -->
            {% if comments %}
                {% for comment in comments %}  
                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                        <hr>
                    </div>
                </div>  
                <div class="row">

                    <div class="col-sm-11 col-sm-offset-1">
                                <p>{{comment.comment|safe}}</p>
                                <br>
                                <div class="pull-right">
                                   {{comment.owner}}   {{comment.create_time|date:'Y-m-d'}}     
                                </div>    
                     

                    </div>    
                  </div>

                            {% endfor %}
                        {% endif %} 
                        
                        
                        {% if request.user.is_authenticated %}
                        <div><br>
                        <hr>    
                        <span id="span_a_suggest"><a id="a_suggest" href="#"><i class="fa fa-commenting"></i> {% trans "Comment" %}</a></span>
                        <div class="comment_form">
                          <form method="POST" action="{% url 'blog_comment_new'  blog.id %}">
                            {% csrf_token %}
                            
                            {{ comment_form|crispy }}
                            <input class="btn btn-success pull-right" type="submit" name="Submit" value="{% trans 'Save' %}"/>
                          </form>      
                        </div>
                        </div>
                        {% else%}
                            <div>
                                <a href="{% url 'auth_login' %}">{% trans "Login" %} </a>{% trans "to comment" %}
                            </div>
                        {% endif %}<!-- end of user authentication --> 
                        <br><br>
                </div>      


       <!-- button -->
       
       <div class="col-sm-3">
           <div class="row">
        
                 <br>
            <div class="panel panel-success hidden-xs hidden-sm">
              <div class="panel-heading">{% trans "Related Blogs" %}</div>
              <div class="panel-body">                 
                  <table class="table">
                      {% if relblogs %}
        
                          {% for e in relblogs %}
                              <tr>
                              <td>
                               <h3> <a href="{% url 'blog_info' id=e.id %}">{{e.subject}}</a></h3>
                                </td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </table>             

             </div>
         </div>
							<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
							<!-- p8ecm_main_Blog1_300x250_as -->
							<ins class="adsbygoogle"
							     style="display:inline-block;width:300px;height:250px"
							     data-ad-client="ca-pub-1018407477199873"
							     data-ad-slot="5142696541"></ins>
							<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
							</script>         
         </div>
         </div>
         
        </div>  <!--end of right-->
        </div>    
       </div>       
    
         
         <!-- blog Modal -->
         <div class="modal fade" id="blogModal"  role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="myModalLabel">{% trans "Edit" %}</h4>
               </div>
               <div class="modal-body">
                  <form method="POST" action="{% url 'blog_edit' id=blog.id %}">
                    {% csrf_token %}
                    {{ blog_form|crispy }}
                    <input class="btn btn-success" type="submit" name="Submit" value="{% trans 'Save' %}"/>
                  </form>
               </div>
             </div>
           </div>
         </div>    
    </div>   
{% endblock %}

{% block script%}
{{ block.super }}
<script>

$(document).ready(function(){
    $("#a_suggest").click(function(e){
        e.preventDefault();
        $(".comment_form").show();
        $("#span_a_suggest").hide();
    });
    $("img").addClass("img-responsive");

});

</script>  
{% endblock %}