{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <h1 class="text-center">注册</h1>
    请认真阅读一下条款，默认视为您接受以下条款。
<!-- policy -->

    <textarea rows="20" cols="75" disabled>
免责声明

任何使用云舒天外网的用户均应仔细阅读本声明，用户可选择不使用云舒天外网站，用户使用云舒天外网站的行为将被视为对本声明全部内容的认可。

1、除云舒天外网注明之服务条款外，其他一切因使用云舒天外网发布网站而引致之任何意外、疏忽、合约毁坏、诽谤、版权或知识产权侵犯及其所造成的损失（包括因下载而感染电脑病毒），云舒天外网概不负责，亦不承担任何法律责任。

2、任何透过云舒天外网的网页而链接及得到之资讯、产品及服务均系用户自行发布，云舒天外网对其合法性概不负责，亦不承担任何法律责任。

3、云舒天外网所有内容并不反映任何云舒天外网之意见。

4、任何单位或个人认为通过云舒天外网的内容可能涉嫌侵犯其合法权益，应该及时向云舒天外网书面反馈，并提供身份证明、权属证明及详细侵权情况证明，云舒天外网在收到上述法律文件后，将会尽快移除被控侵权内容。



在云舒天外网站您可以登载各种正常的言论和信息，您必须承诺对您的言论和信息负责：

1. 遵守加拿大及居住地相关法律、法规的规定；

2. 尊重网上道德并遵守诚实信用原则；

3. 不得危害国家和社会公共利益；

4. 不得恶意攻击他人。



您发布的信息以及言论若违反规定，责任自负与云舒天外网站无关。我们除保留清除违规信息和言论的权利，并有权按以下规定给予处置：

1. 凡淫秽、反动、人身攻击等方面的留言一律删除，严重者报法律部门查处；

2. 凡用户投诉有虚假信息，云舒天外网站负责认证、删除并给予公示；

3. 凡用户投诉、有关部门立案的，本栏目将依据法律协助查处。



云舒天外网站内张贴的内容为用户独家的授权，其他相关网站未经云舒天外网站同意，不得擅自进行转贴；否则将对由此引发的用户投诉、起诉及其它法律纠纷承担全部法律责任，并且云舒天外网站将追究相应侵权责任。

用户不得发布与交易无关的信息。管理员或版主有权利拒绝发布被认为不恰当（含虚假或非法内容）的信息或言论。由于客观原因，我们无法识别所有不恰当（虚假或非法）信息，这些不恰当信息所引起法律纠纷由信息发布者负责。

请用户将各类信息放在相应板块和栏目内，对于放置错误的，为了云舒天外网站的正常发展、运作，云舒天外网站将进行删除。

云舒天外网站承诺为用户登记的个人信息进行保密。



若您对我们的服务感到不满或对我们的服务有良好的建议，请直接发信给我们的服务信箱：sun@sunorth.org


</textarea>
   
<form method="post" action="">
    {% csrf_token %}
    {{ form | crispy }}
    <input class="btn btn-success text-center" type="submit" value="{% trans '注册' %}" />
</form>



</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}