{% extends "base.html" %}

{% load i18n %}
{% block jumbotron %}
  
      <!--<div class="jumbotron">-->

      <!--</div>-->
{% endblock %}
  
{% block content %}
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>


   <div class="row">
       <div class="col-sm-3 hidden-sm hidden-xs">
          {% if  request.user.is_authenticated  %} 
              <a class="btn btn-success btn-lg btn-block" href="{% url 'activity_new' %}" ><i class="fa fa-calendar"></i> 计划下一次活动</a>  

          {% endif %} 
          <BR>
                <ul class="list-group">
                  <li class="list-group-item">徒步</li>
                  <li class="list-group-item">露营</li>
                  <li class="list-group-item">帆船</li>
                  <li class="list-group-item">划艇</li>
                  <li class="list-group-item">滑雪</li>
                  <li class="list-group-item">钓鱼</li>
                  <li class="list-group-item">更多...</li>
                </ul>             
       </div>           
       
       
      <!-- blog list-->
       <div class="col-sm-9">
           <br>
           <div id='calendar' class="hidden-sm hidden-xs"></div>            
           {% if activities %}
               <table class="table">
               {% for activity in activities %}
                  <tr>
                    <td>
                        {{activity.do_time|date:'Y-m-d'}}
                    </td>
                    <td>
                       <a href="{% url 'activity_info' id=activity.id %}"> {{activity.subject}}</a>
                    </td> 
                    <td>
                        {{activity.tags}}
                    </td>
                    
                  </tr>    
                {% endfor %}
               </table>   
               <div class="text-center">
                     <nav aria-label="Page navigation">
                      <ul class="pagination">
                        {% if activities.has_previous %}
                          <li><a href="?page={{ activities.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><a href="#">&laquo;</a></li>
                        {% endif %}
                    
                        {% for num in activities.paginator.page_range %}
                          {% ifequal num activities.number %}
                            <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
                          {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                          {% endifequal %}
                        {% endfor %}
                    
                        {% if activities.has_next %}
                          <li><a href="?page={{ activities.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><a href="#">&raquo;</a></li>
                        {% endif %}
                      <ul>
                    </nav>                   
               </div>
                                    
           

            {% endif %}
       </div><!-- activity LIST -->
       
     
    </div>   
{% endblock %}

{% block script%}
{{ block.super }}

<script>
$(document).ready(function(){
    var date = new Date();
    var m = date.getMonth();
    $('#calendar').fullCalendar({
        events: {
            url: '/api/activity/list',
            type: 'GET',
            data: {
                month: m,
            },
            error: function() {
               // alert('there was an error while fetching events!');
            },
            color: 'green',   // a non-ajax option
            textColor: 'black' // a non-ajax option
        }
    })
});
</script>
{% endblock %}