{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}

   <div class="row">
       <div class="col-sm-9">
           <div class="row">
               <div class="col-sm-12">
                   <h1>{{activity.subject}}
                    {{today}}
                    {% if activity.owner == request.user.id %}
                     <small>
                         
                     <a href="#" data-toggle="modal" data-target="#activityModal"><i class="fa fa-pencil"></i></a>
                     </small>
                     {% endif %}             
                   </h1>        
                  <hr>
               </div>
             </div> 
            <div class="row">
                <div class="col-sm-2">
                    Date
                </div>
                <div class="col-sm-10">
                    {{activity.do_time|date:'Y-m-d'}}
                </div>
            </div>
                
           <div class="row">
               <div class="col-sm-12">
                      <hr>
                </div>
            </div>                                   
            <div class="row">
                <div class="col-sm-2">
                    Description
                </div>
                <div class="col-sm-10">
                   {{activity.description|safe}}
                </div>
            </div>                

            <!-- comments -->
            {% if comments %}
                {% for comment in comments %}  
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-2">
                        <hr>
                    </div>
                </div>    
                <div class="row">

                    <div class="col-sm-10 col-sm-offset-2">
                                <p>{{comment.comment|safe}}</p>
                                <br>
                                <div class="pull-right">
                                   {{comment.owner}}  {{comment.create_time|date:'Y-m-d'}}     
                                </div>    
                    </div>    
                  </div>

                            {% endfor %}
                        {% endif %}    
                        
                        {% if request.user.is_authenticated %}
                        <div><br>
                        <hr>    
                        <span id="span_a_suggest"><a id="a_suggest" href="#"><i class="fa fa-commenting"></i> Comment</a></span>
                        <div class="comment_form">
                          <form method="POST" action="{% url 'activity_comment_new'  activity.id %}">
                            {% csrf_token %}
                            
                            {{ comment_form|crispy }}
                            <input class="btn btn-success pull-right" type="submit" name="Submit" value="Save"/>
                          </form>      
                        </div>
                        </div>
                        {% else%}
                            <div>
                                <a href="{% url 'auth_login' %}">Login </a>to comment
                            </div>                        
                        {% endif %}<!-- end of user authentication -->                    
                <br><br>
       </div>
       <!-- button -->
       
       <div class="col-sm-3">
           <div class="row">
              
         <!-- Button trigger modal -->
         <br> 
            <div class="panel panel-success hidden-xs hidden-sm">
              <div class="panel-heading">其他近期活动</div>
              <div class="panel-body">                 
                  <table class="table">
                      {% if otheractivities %}
        
                          {% for e in otheractivities %}
                              <tr>
                              <td>
                               <h3> <a href="{% url 'activity_info' id=e.id %}">{{e.subject}}</a></h3>
                                </td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </table>             

             </div>
             </div>         
         <br>

         </div>

        </div>  
        </div>    
       </div>       
       
         <!-- activity Modal -->
         <div class="modal fade" id="activityModal"  role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="myModalLabel">Edit</h4>
               </div>
               <div class="modal-body">
                  <form method="POST" action="{% url 'activity_edit' id=activity.id %}">
                    {% csrf_token %}
                    
                    {{ activity_form|crispy }}
                    
                    <input class="btn btn-primary" type="submit" name="Submit" value="Save"/>
                  </form>
               </div>
             </div>
           </div>
         </div>        
     
    </div>   
{% endblock %}
{% block script%}
{{ block.super }}
<script>

$(document).ready(function(){
    $("img").addClass("img-responsive");
    $("#a_suggest").click(function(e){
        e.preventDefault();
        $(".comment_form").show();
        $("#span_a_suggest").hide();
    });
   
});



</script>  
{% endblock %}