img{
    
  display: inline-block;
  vertical-align: middle;
   height:auto !important;
   width:100%;
}
.navbar-static-top{
    margin-bottom : 19px !important;
    background: #fff;
    border-color:#33CC33;
    color : #33CC33;
}

.navbar-default .navbar-brand{
    color : #33CC33;
}

.navbar-default .navbar-brand:hover{
    color : #33CC33;
}
.navbar-default .navbar-nav>li>a{
    color : #000;
}

.navbar-default .navbar-nav>li>a:hover{
    color : #33CC33;
}


div .comment_form {
    display: none; 
    
}

.blog_list_avatar{
    padding-top:20px;
    padding-right:0px;
}

.avatar{ /* selector for avatar class*/
    float: left; /* we press to the left edge, flow around on the right */
    background: #fff; /* background */
    width: 60px; 
    height: 60px; 
    padding: 5px; /* internal padding ( top, right, bottom, left) */
    border: 1px solid #999; /* border(width, type, color) */
    border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
    box-shadow: 0px 1px 1px 1px #bbb /* across displacement, vertical displacement, smearing, increase and color */
}
.avatar img{ /* selector for a picture which is "inside" the avatar class */
    display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
    width: 100%; /* width 100% */
    border: 0; /* zero border */
    margin: 0; /* external margin is lacking */
    border-radius: 50%; /* read above */
}