{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
          <!-- criteria -->  
          <div class="row">
            <div class="col-md-12">
                <!-- search form -->
            </div>
          </div>     
           
           <!-- case list --> 
          <div class="row"> 
          <div class="col-md-12">
            
          <table class="table">
              {% if events %}

                  {% for e in events %}
                      <tr>
                      <td>
                       <h3> <a href="{% url 'event_info' id=e.id %}">{{e.subject}}</a></h3>
                       <h4><i class="fa fa-tags"></i> <span class="label label-primary">{{e.tags}}</span>  
                      
                       <span class="pull-right">
                         
                         </span>
                       <span class="pull-right">  {{e.do_time|date:'Y-m-d'}}  </span>
                       </h4>
                        </td>
                      </tr>
                  {% endfor %}
              {% endif %}
          </table> 
          </div>
          </div>
        </div><!--end of case list -->
        
        
        <div class="col-md-3">
            <div class="row">
              <div class="col-md-12">
                <br>

             </div>
             <div class="col-md-12">
                <br>

            </div>
            <!--<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
            <!-- p8ecm_sidebar-right-1_AdSense1_250x250_as -->
            <!--<ins class="adsbygoogle"-->
            <!--     style="display:inline-block;width:250px;height:250px"-->
            <!--     data-ad-client="ca-pub-1018407477199873"-->
            <!--     data-ad-slot="8096162942"></ins>-->
            <!--<script>-->
            <!--(adsbygoogle = window.adsbygoogle || []).push({});-->
            <!--</script>-->
            </div>
        </div>        
    </div>
{% endblock%}