{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="row">  

        <div class="col-md-12 text-center">
            <h1 class="text-center text-danger">{% trans "Sorry, you can't access this ! ^_^" %}</h1>
            <br>
            <p>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 404 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:970px;height:250px"
                     data-ad-client="ca-pub-1018407477199873"
                     data-ad-slot="2162476143"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </p>
        </div>
    </div>
{% endblock %}        