{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block jumbotron %}
  
      <!--<div class="jumbotron">-->

      <!--</div>-->
{% endblock %}
  
{% block content %}
   <div class="row">
       <div class="col-md-9">

           {% if blogs %}

           <table class="table">
               {% for blog in blogs %}
              <tr><td>
                    <h2> <a href="{% url 'blog_info' id=blog.id %}"> {{blog.subject}}</a></h2>
                    <span class="label label-success">{{blog.tags}}</span>{{blog.createtime|date:'Y-m-d'}}  {{blog.owner}}<br><br>
                     <p> {{blog.content|safe|slice:"0:100"}}<h3>...</h3></p>               
            </td></tr>  
                {% endfor %}
            <tr><td>
                <nav>
                  <ul class="pager">
                    {% if blogs.has_previous %}
                        <li class="previous">
                            <a href="?page={{ blogs.previous_page_number }}"><span aria-hidden="true">&larr;</span> Older</a>
                        </li>                    
                    {% endif %}                  
                        <li class="current">{{ blogs.number }} of {{ blogs.paginator.num_pages }}</li>                                                
                    {% if blogs.has_next %}
                        <li class="next"><a href="?page={{ blogs.next_page_number }}">Newer <span aria-hidden="true">&rarr;</span></a></li>                    
                    {% endif %}
                    
                  </ul>
                </nav>                       
            </td>
            </tr>
           </table>            

            {% endif %}
       </div><!-- BLOG LIST -->
       
       <div class="col-md-3">
            <div class="row">
            
          {% if not request.user.is_authenticated  %}
          <form class="form col-md-12 center-block" action='{% url "auth_login" %}' method='POST'>{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control input-lg" name="username" placeholder="User name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-lg btn-block" type="submit">Login</button>
              <span class="pull-right"><a href="{% url 'registration_register' %}">Register</a></span>
              <span><a href="{% url 'auth_password_reset' %}">Forgot password</a></span>
            </div>
          {% else %}
          <a class="btn btn-success btn-lg btn-block" href="{% url 'blog_new' %}" >Post Note</a>  
          <a class="btn btn-success btn-lg btn-block" href="{% url 'event_new' %}" >New Event</a>  
          </form>          
           
          {% endif %}
           </div>
           <div class="row">
               <br>
            <div class="panel panel-success">
              <div class="panel-heading">Comming Events</div>
              <div class="panel-body">
                  <table class="table">
                      {% if events %}
        
                          {% for e in events %}
                              <tr>
                              <td>
                               <h3> <a href="{% url 'event_info' id=e.id %}">{{e.subject}}</a></h3>
                                </td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </table>  
              </div>
            </div>           
          </div>

            
       </div>       
    </div>   
{% endblock %}

{% block script%}
{{ block.super }}
<script>

$(document).ready(function(){
    $("img").addClass("img-responsive");

});

</script>  
{% endblock %}