{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load avatar_tags %}
{% block jumbotron %}
  
      <!--<div class="jumbotron">-->

      <!--</div>-->
{% endblock %}
  
{% block content %}
   <div class="row">
     <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12">

        {% if not request.user.is_authenticated  %} 
                  <div class="panel panel-success">
              <div class="panel-body">
          <form class="form center-block" action='{% url "auth_login" %}' method='POST'>{% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control " name="username" placeholder="User name">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-success btn-block" type="submit">登录</button>
              <span class="pull-right"><a href="{% url 'registration_register' %}">注册</a></span>
              <span><a href="{% url 'auth_password_reset' %}">忘记密码</a></span>
            </div>
            </form>  
             </div>
           </div>                        
          {% else %}
          <a class="btn btn-success btn-lg btn-block" href="{% url 'blog_new' %}" > <i class="fa fa-share-alt-square"></i> 分享日志</a>  
          <a class="btn btn-success btn-lg btn-block" href="{% url 'activity_new' %}" ><i class="fa fa-calendar"></i> 计划下一次活动</a>  
        

          {% endif %}

           </div>
           </div>
           
           
           <div class="row">
               <div class="col-sm-12">
               <br>
            <div class="panel panel-success">
              <div class="panel-heading">近期活动计划</div>
              <div class="panel-body">
                  <table class="table">
                      {% if activities %}
        
                          {% for e in activities %}
                              <tr>
                              <td>
                               <h3> <a href="{% url 'activity_info' id=e.id %}">{{e.subject}}</a></h3>
                                </td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </table>  
              </div>
            </div> 
            
            <!-- the latest comments -->
            
            <div class="panel panel-success">
              <div class="panel-heading">最新回复</div>
              <div class="panel-body">
                  <table class="table">
                      {% if comments %}
        
                          {% for e in comments %}
                              <tr>
                              <td>
                               <h3> <a href="{% url 'blog_info' id=e.blog.id %}">{{e.comment}}</a></h3>
                                </td>
                              </tr>
                          {% endfor %}
                      {% endif %}
                  </table>  
              </div>
            </div>            
          </div>
        </div>
            
       </div>           
       
       
      <!-- blog list-->
       <div class="col-sm-9">

           {% if blogs %}
               {% for blog in blogs %}
                  <div class="row">
                  <div class="col-xs-2 col-sm-1 blog_list_avatar "><span class="avatar"> {% avatar  blog.owner %}</span></div>     
                  <div class="col-xs-10 col-sm-11 ">
                    <h2> <a href="{% url 'blog_info' id=blog.id %}"> {{blog.subject}}</a></h2>
                    <span class="label label-success">{{blog.tags}}</span>  {{blog.createtime|date:'Y-m-d'}}   
                    <a href="{% url 'blog_info' id=blog.id %}"> <i class="fa fa-commenting"></i></a><br><br>
                    
                    <div class="hidden-xs hidden-sm"> {{blog.content|safe}}</div> 
                    </div>                             
                </div>    
                <hr>
                {% endfor %}

                <nav>
                  <ul class="pager">
                    {% if blogs.has_previous %}
                        <li class="previous">
                            <a href="?page={{ blogs.previous_page_number }}"><span aria-hidden="true">&larr;</span> Newer</a>
                        </li>                    
                    {% endif %}                  
                        <li class="current">{{ blogs.number }} of {{ blogs.paginator.num_pages }}</li>                                                
                    {% if blogs.has_next %}
                        <li class="next"><a href="?page={{ blogs.next_page_number }}">Older <span aria-hidden="true">&rarr;</span></a></li>                    
                    {% endif %}
                    
                  </ul>
                </nav>                       
           

            {% endif %}
       </div><!-- BLOG LIST -->
       
     
    </div>   
{% endblock %}

{% block script%}
{{ block.super }}
<script>

$(document).ready(function(){
    $("img").addClass("img-responsive");

});

</script>  
{% endblock %}