{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block jumbotron %}
      <!-- Main component for a primary marketing message or call to action -->
      
      <div class="jumbotron">
      <div class="container">
        <div class="row">  
        <div class="col-md-8">
        <h1>Think to change</h1>
        <p>I need a place to get help from the world about troubleshooting issue, tracking career path or sharing experence...</p>
        <p>Someone need a platform to advertise as a consultant or help others. </p>
        <p>Experience should be shared and exchange. </p>
        </div>
        <div class="col-md-4">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- p8ecm_sidebar-right-1_AdSense1_250x250_as -->
<ins class="adsbygoogle"
     style="display:inline-block;width:250px;height:250px"
     data-ad-client="ca-pub-1018407477199873"
     data-ad-slot="8096162942"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
        </div>
      </div>  
      </div>
{% endblock %}
  
{% block content %}
   <div class="row">
       <div class="col-md-4 pull-right">

       </div>
    </div>   
{% endblock %}