{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
   <div class="row">
       <div class="col-md-8 col-md-offset-2">
          <br>
            {% if message %}
                {% if mtype == "info" %}
                    <div class="alert alert-success" role="alert"><h1>{{message}}</h1></div>
                {% endif %}
                {% if mtype == "error" %}
                    <div class="alert alert-danger" role="alert"><h1>{{message}}</h1></div>
                {% endif %}                
                
            {% endif %}
       </div>
    </div>   
    <div class="row">
        <div class="col-md-12 text-center">
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- 404 -->
                <ins class="adsbygoogle"
                     style="display:inline-block;width:970px;height:250px"
                     data-ad-client="ca-pub-1018407477199873"
                     data-ad-slot="2162476143"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
        </div>
    </div>
    
{% endblock %}

