{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}


{% block content %}
      
   <div class="row">
     <div class="col-md-3 hidden-xs hidden-sm">
         <a class="btn btn-success btn-block" href="#" data-toggle="modal" data-target="#clubModal">{% trans "Add Club" %}</a>
         <br>
        <div class="list-group">
          <a href="#" class="list-group-item active">
            {% trans "Outdoor Activities" %}
          </a>
          <a href="#" class="list-group-item">{% trans "Boating" %}</a>
          <a href="#" class="list-group-item">{% trans "Hiking" %}</a>
          <a href="#" class="list-group-item">{% trans "Skiing" %}</a>
          <a href="#" class="list-group-item">{% trans "Camping" %}</a>
          <a href="#" class="list-group-item">{% trans "Biking" %}</a>
          <a href="#" class="list-group-item">{% trans "Fishing" %}</a>
          
        </div>       
     </div>
     <div class="col-md-9 hidden-xs hidden-sm">
       {% for club in clubs %}
           <h3><a href="{{club.website}}">{{club.name}}</a></h3>
           <h5 class="label label-default">
             {% if club.ctype == 0 %}
                 {% trans "Other" %}
             {% elif club.ctype == 1 %}
             {% trans "Hiking" %}
             {% elif club.ctype == 2 %}
             {% trans "Camping" %}
             {% elif club.ctype == 3 %}
             {% trans "Sailing" %}
             {% elif club.ctype == 4 %}
             {% trans "Rowing" %}
             {% elif club.ctype == 5 %}
             {% trans "Skiing" %}
             {% elif club.ctype == 6 %}
             {% trans "Biking" %}
             {% elif club.ctype == 7 %}
             {% trans "Fishing" %}
             {% endif %}
           
           </h5>
           <p>{{club.description|safe}}</p>
           <hr>
       {% endfor%}
     </div>     
    </div> 

             <!-- club Modal -->
         <div class="modal fade" id="clubModal"  role="dialog" aria-labelledby="myModalLabel">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <h4 class="modal-title" id="myModalLabel">{% trans "Add Club" %}</h4>
               </div>
               <div class="modal-body">
                  <form method="POST" action="{% url 'club_add' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success" type="submit" name="Submit" value="{% trans 'Add' %}"/>
                  </form>
               </div>
             </div>
           </div>
         </div>  
{% endblock %}

{% block script%}
{{ block.super }}
<script>

$(document).ready(function(){
    $("img").addClass("img-responsive");

});

</script>  
{% endblock %}